@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
.nav{
	border:1px solid black;
	background-color: white;
}
ul{
   float: right;
   margin: 0;

}
li{
	list-style: none;
	display: inline-block;
	margin: 2em;
	font-family: 'Roboto Mono', monospace;
}
img{
	width: 5%;
	padding-top: 2em;
}
a:hover{
   color: yellow;
   background: black;
}